@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

body {
    display: flex;
    min-height: 100vh;
    padding: 0;
    margin: 0;

    background-color: rgb(240, 238, 238);
    font-family: sans-serif;
}

.side-bar {
    background-image: url("./images/side-bar-img.jpg");
    width: 40%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: pink;
    background-position: center;

    /* position: relative; */
}

.logo {
    /* position: absolute; */
    margin-top: 20vh;

    background-color: rgba(127, 104, 245, 0.5);
    width: 100%;
    height: 20vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-content>.form {
    background-color: white;
    box-shadow: 3px 3px 4px lightpink;
}

.side-bar>p {
    margin-top: 55vh;

    margin-left: 7vw;
    white-space: nowrap;
    font-family: sans-serif;
    color: rgb(77, 75, 75);
    font-size: .75rem;
}

.logo>h1 {
    font-size: 4.5rem;
    color: white;
    font-family: 'Delicious Handrawn', cursive;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.main-content>div>p:first-child {
    padding: 14vh;
    /* width: 100%; */
    font-weight: 700;
    font-size: 1.1rem;
    color: rgb(77, 75, 75);
}

.side-bar>p>a {
    color: rgb(77, 75, 75);
}